*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    color: black;
    background-color: antiquewhite;
    height: 50px;
    width: 100%;
  
    text-align: center;
    font-weight: lighter;
    
    position: sticky;
    font-size: 14px;
    padding: 15px;
    top: 0px;
}
body{
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding:5px 20px;
    margin-bottom: -50px;
}
.footer-top{
    padding: 5%;
    text-align: center;
}
.footer-top a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
a.logo{
    height: 12px;
    width: 100px;
    color:inherit;
}
header a{
    color:inherit;
}
header nav a{
    text-decoration: none;
    padding: 5px 10px;
}
header nav ul {
    display: flex;
    list-style: none;
  }
header nav.center{
    text-align: center;
}
section{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section .text{
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
}
section a{
    color: inherit;
}
section h1{
    font-size: 64px;
}
section p{
    font-size: 28px;
}

section button{
    padding: 4px 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2400px;
    border-radius: 5px;
    padding: 10px 85px;
    margin-right: 10px;
}
